@using System.Text
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WebApplication1.Models
@model IEnumerable<WebApplication1.Models.ListingProjects_ver2>
@{
    ViewData["Title"] = "Dashboard";
    
    var listingMd = Model?.FirstOrDefault();
}

<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>TestDashboard1</title>
    <link rel="stylesheet" type="text/css" href="~/css/dashboardAsOf1712_24.css" />
</head>
<body>

<div id="CreateUser" class="form-horizontal" method="post" asp-action="CreateUser" asp-controller="Home" action="BufferedSingleFileUploadPhysical/?handler=Upload"
     enctype="multipart/form-data" > 
    
    <h4>Properties</h4>
    
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.ValidationMessage("validation")
    
    <div class="form-group">
        <label class="control-label col-md-2">Name</label>
        <div class="col-md-10">
            <!-- src="../imgSearchHome/PXL_20250309_130130279.jpg" -->
            <input class="form-control" type="text" name="ListingName" id="ListingName"/>
            <form method="post" enctype="multipart/form-data">
                <img style="display:block; width:100px;height:100px;" src="../imgSearchHome/PXL_20250309_130130279.jpg" id="listingImageImg" type="file"></img>
                <input type="file" class="form-control" id="ListingImgNameRichtig" onchange='previewFile(this.files[0]),  imageUploaded(this)' accept="image/*" name="ListingImgNameRichtig"/>
                <input class="form-control" type="text" name="ListingReview" id="ListingReview"/>
            </form>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="btnCreateListing" value="click me to create" class="btn btn-default" />
        </div>
       
    </div>
</div>


    <div id="EditDashboardNow" method="post" name="editSubmitId">
        <form method="post" asp-controller="Home" asp-action="EditListingJpost" enctype="multipart/form-data">
            <div class="listing form-horizontal">
                <div class="content">
                   
                    <div class="content">
                        <!-- Hidden input for Id -->
                        <input type="hidden" value="@listingMd.Id" id="EditIdButHidden" name="Id" />
                        <div>
                            Property Name:
                            <div class="form-group">
                                <input class="form-control" id="editPropertyName" name="ListingName"/>
                                
                            </div>
                        </div>
                        <picture>I am the EditDashboard now</picture>
                        <p>Age: </p>
                        <div class="roundPlaceholder">
                            <p class="roundPlaceholderTxt">Book me once you edit</p>
                        </div>
                        <div class="deleteListingBtn">
                            <button type="button" class="delete" id="Delete" class="btn btn-danger">Delete</button>
                        </div>
                        <div>
                            <button type="submit" id="btnSaveEdit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary cancel-btn edit-mode" style="display: none;">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

<div class="wrapper" id="preExistingDashboard">
    @foreach (var listingModel in Model)
    {

        <div class="listing">


            <div class="content">
               
                <div>
                    
                   
                    <img name="ListingImgNameRichtig" id="ListingImgNameRichtig" style="display: block; width: 100px; height: 100px;" src="~/imgSearchHome/@listingModel.ListingImgNameRichtig"></img>
                </div>
                <p>
                    Property Name: <span class="view-mode listing-name">@listingModel.ListingName</span>
                    Property Review: <span>@listingModel.ListingReview</span>
                </p>

                <p>I am the pre-existing dashboard</p>
                <p>Age: @listingModel.Id</p>
                <div class="roundPlaceholder">
                    <p class="roundPlaceholderTxt">Book me before you edit</p>
                </div>
                <div class="deleteListingBtn">
                    <button type="button" class="delete" id="Delete" onclick="Delete(@listingModel.Id)" class="btn btn-danger">Delete</button>
                </div>
                <div class="editListingBtn" class="listing">
                    <button type="button" id="btnEditUser" value="Edit" onclick="EditListing(@listingModel.Id)">Edit</button>
                    <button type="button" class="btn btn-success save-btn edit-mode" style="display: none;">Save</button>
                    <button type="button" class="btn btn-secondary cancel-btn edit-mode" style="display: none;">Cancel</button>
                </div>
            </div>
        </div>

    }
    <form enctype="multipart/form-data">
        <input type="file" id="file"/>
        <input type="button" id="btnUpload" value="Upload"/>
    </form>
    <progress id="fileProgress" style="display:none"></progress>
    <hr/>
    <table id="tblImages" cellpadding="0" cellspacing="0">
        <tr>
            <th style="width:120px">Image Name</th>
            <th style="width:80px">Image</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
</div> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
    function previewFile(file) {
        const preview = document.getElementById("listingImageImg");
        const reader = new FileReader();

        reader.addEventListener(
            "load",
            () => {
                // convert image file to base64 string
                preview.src = reader.result;
            },
            false,
        );

        if (file) {
            reader.readAsDataURL(file);
        }
    }

    let base64String = "";

    function imageUploaded(element) {
        let file = document.querySelector(
            'input[type=file]')['files'][0];

        let reader = new FileReader();
        console.log("next");

        reader.onload = function () {
            base64String = reader.result.replace("data:", "")
                .replace(/^.+,/, "");

            imageBase64Stringsep = base64String;

            // alert(imageBase64Stringsep);
            console.log(base64String);
            
            document.getElementById("listingImageImg").setAttribute("src", base64String);
        }
        
    }

    function displayString() {
        console.log("Base64String about to be printed");
        alert(base64String);
    }

    var xhr = new XMLHttpRequest();
    xhr.onload=function(e){
        var urls=JSON.parse(e.target.responseText);
        var allImageNodes = document.querySelectorAll("#ListingImgNameRichtig");
        var TempArr = [];
        for (var x = allImageNodes.length; x--;) {
            TempArr.push(allImageNodes[x]);
        }
        allImageNodes = TempArr;
        allImageNodes.forEach((image, index) => {
            image.src = urls[index];
        })
        
        /*
        
        for(var i = 0 ;i<urls.length;i++){
            var img = document.createElement("img");
            img.style = "height: 50px; width: 50px;";
            img.src = urls[i];
            document.body.appendChild(img);
        }*/
    };
    xhr.open("get","/Home/GetImages");
    xhr.send();

    /*$(function(){
        GetFiles();
    });
    function GetFiles() {
        $.ajax({
            type: "POST",
            url: "/Home/GetImages",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (files) {
                $.each(files, function () {
                    AppendRow(this);
                });
            },
            failure: function (r) {
                alert(r.d);
            },
            error: function (r) {
                alert(r.d);
            }
        });
    };

    function AppendRow(name) {
        var row = $("#tblImages tbody tr:last-child");

        //Remove if the row is dummy row.
        if (row.find("td:empty").length > 0) {
            row.remove();
        }

        row = row.clone();
        $("td", row).eq(0).text(name);
        $("td", row).eq(1).html("");
        var img = $("<img />");
        img.attr("src", '@Url.Content("~/imgSearchHome/")' + name);
        img.attr("style", "height:80px;width:80px");
        $("td", row).eq(1).append(img);
        $("#tblImages tbody").append(row);
    };
    $("body").on("click", "#btnUpload", function () {
        var formData = new FormData();
        formData.append("file", $("#file")[0].files[0]);
        $.ajax({
            url: '/Home/OnPostAsyncImg',
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (fileName) {
                $("#fileProgress").hide();
                AppendRow(fileName);
            },
            xhr: function () {
                var fileXhr = $.ajaxSettings.xhr();
                if (fileXhr.upload) {
                    $("progress").show();
                    fileXhr.upload.addEventListener("progress", function (e) {
                        if (e.lengthComputable) {
                            $("#fileProgress").attr({
                                value: e.loaded,
                                max: e.total
                            });
                        }
                    }, false);
                }
                return fileXhr;
            }
        });
    });
   /**/
    $("#EditDashboardNow").hide();
    
    $("#btnCreateListing").click(function (event) {
        event.preventDefault(); // Prevent default form submission
        //var file = document.getElementById("listingImageImg").getAttribute("src");
        var fileInput = document.getElementById("ListingImgNameRichtig");
        var appendImgFiles = fileInput.files[0];
        var formData = new FormData();
        formData.append("Id", $("#EditIdButHidden").val());
        formData.append("ListingName", $("#ListingName").val());
        formData.append('ListingImgNameRichtig', appendImgFiles);
        formData.append("ListingReview", $("#ListingReview").val());

        $.ajax({
            url: "/Home/CreateUser",
            type: "POST",
            processData: false,
            contentType: false,
            data: formData,
            success: function (response) {
                if (response.success) {
                    alert("Listing created successfully!");
                    location.reload();
                } else {
                    alert("listing created anyway");
                    location.reload();
                }
            },
            error: function () {
                alert("An error occurred while creating.");
            }
            
        });
        
            
    });
            function EditListing(Id) {
        $.get("/Home/EditListingJ", { Id: Id }, function (data) {
            console.log("Received Data:", data); // Debugging

            if (data && data.Id) { // Ensure property names match
                $("#preExistingDashboard").hide();
                $("#EditDashboardNow").show();

                $("#editPropertyName").val(data.ListingName);
                $("#EditIdButHidden").val(data.Id);
                $("#ListingImage").val(data.ListingImage);

                console.log("Updated Fields:", $("#EditIdButHidden").val(), $("#editPropertyName").val(), $("#ListingImage").val());
            } else {
                console.error("Invalid Data Format:", data);
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.error("AJAX Request Failed:", textStatus, errorThrown);
        });
    }

    $("#btnSaveEdit").click(function (event) {
        event.preventDefault(); // Prevent default form submission

        var formData = new FormData();
        formData.append("Id", $("#EditIdButHidden").val());
        formData.append("ListingName", $("#editPropertyName").val());
        formData.append("ListingImage", $("#ListingImage").val());

        $.ajax({
            url: "/Home/EditListingJpost",
            type: "POST",
            processData: false,
            contentType: false,
            data: formData,
            success: function (response) {
                if (response.success) {
                    alert("Listing updated successfully!");
                    location.reload();
                } else {
                    alert("Error: " + response.message);
                }
            },
            error: function () {
                alert("An error occurred while saving.");
            }
        });
    });

    $("#btnEditDetail").click(function () {
        var Id = document.getElementById("IdDetails").textContent;
        EditListing(Id);
    });

    function Delete(Id) {
        $.post("/Home/DeleteUserJ", { Id: Id }, function (data) {
            if (data != null) {
                alert("User Deleted");
                location.reload();
            } else {
                alert("Error");
            }
        });
    } // Fixed syntax here
</script>
</body>
</html>